<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/capin/Projects/KegCop</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-11-12T19:23:25Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/capin/Projects/KegCop/DerivedData/KegCop/Build/Products/Release-iphoneos/libPods.a</string>
	</array>
	<key>Version</key>
	<integer>5</integer>
</dict>
</plist>
