# .gitignore - file for ignoring files for a git repository

# Exclude OS X folder attributes - recursively
*.DS_Store

# Exclude the .gitignore file from being uploaded to the trunk
.gitignore

# Exclude the build folder directory - Xcode 4.x - 5.x
DerivedData

# Exclude the shortcut for the build folder
app

# Exclude repo update script
repoupdate.sh

# Exclude XCode breakpoint file
KegCop.xcodeproj/xcuserdata/capin.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

# Exclude the following file
# http://stackoverflow.com/questions/18039414/do-we-need-to-check-in-xcuserstate
KegCop.xcworkspace/xcuserdata/capin.xcuserdatad/UserInterfaceState.xcuserstate
KegCop.xcodeproj/project.xcworkspace/xcuserdata/capin.xcuserdatad/UserInterfaceState.xcuserstate
KegCop.xcworkspace/xcuserdata/capin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspace
