html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* background: */
  /* linear-gradient(170deg, #e93d41, #ae1f23); */
  background-color: rgb(222, 0, 0);
  /* background-color: rgb(66,66,66); */
}

/* .logo { */ 
/*   position: absolute; */
/*   width: 100%; /1* center logo img horizontally on page *1/ */
/*   height: 100%; /1* center logoimg vertically on page *1/ */
/* } */
