html, body {
  /* background-color: pink; */
  height: 100%;
  margin: 0;
  background-color: rgb(237, 66, 74);
}

.container {
  background-color: rgb(237, 66, 74);
  display: block;
  margin: auto;
}

.container div {
  display: block;
  margin: auto;
}
